<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>e-banque</display-name>
 
 <servlet>
 	<servlet-name>ConnexionServelet</servlet-name>
 	<servlet-class>com.ebanque.servelets.ConnexionServelet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>ConnexionServelet</servlet-name>
 	<url-pattern>/index</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>AccueilAdminServelt</servlet-name>
 	<servlet-class>com.ebanque.servelets.AccueilAdminServelt</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>AccueilAdminServelt</servlet-name>
 	<url-pattern>/admin/index</url-pattern>
 </servlet-mapping>

 <servlet>
 	<servlet-name>AddAdminServelet</servlet-name>
 	<servlet-class>com.ebanque.servelets.AddAdminServelet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>AddAdminServelet</servlet-name>
 	<url-pattern>/admin/addadmin</url-pattern>
 </servlet-mapping>
 
 
 
 
 
 <servlet>
 	<servlet-name>AccueilClientServelt</servlet-name>
 	<servlet-class>com.ebanque.servelets.AccueilClientServelt</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>AccueilClientServelt</servlet-name>
 	<url-pattern>/client/index</url-pattern>
 </servlet-mapping>
 
  <servlet>
 	<servlet-name>AddCompteServelet</servlet-name>
 	<servlet-class>com.ebanque.servelets.AddCompteServelet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>AddCompteServelet</servlet-name>
 	<url-pattern>/admin/addacompte</url-pattern>
 </servlet-mapping>
 
  <servlet>
 	<servlet-name>DeconnexionServelet</servlet-name>
 	<servlet-class>com.ebanque.servelets.DeconnexionServelet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>DeconnexionServelet</servlet-name>
 	<url-pattern>/deconnexion</url-pattern>
 </servlet-mapping>
 
 
   <servlet>
 	<servlet-name>CrediterServelet</servlet-name>
 	<servlet-class>com.ebanque.servelets.CrediterServelet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>CrediterServelet</servlet-name>
 	<url-pattern>/client/crediter</url-pattern>
 </servlet-mapping>
 
   <servlet>
 	<servlet-name>VirrementServelet</servlet-name>
 	<servlet-class>com.ebanque.servelets.VirrementServelet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>VirrementServelet</servlet-name>
 	<url-pattern>/client/virrement</url-pattern>
 </servlet-mapping>
 
   <servlet>
 	<servlet-name>RetraitServelet</servlet-name>
 	<servlet-class>com.ebanque.servelets.RetraitServelet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>RetraitServelet</servlet-name>
 	<url-pattern>/client/retrait</url-pattern>
 </servlet-mapping>
 
 
 
 
</web-app>